
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tribeTitle{
  margin-bottom: 10px;
}
.tribeHeader{
  font-size: large;
}
.tribeGallery{
  margin-bottom: 10px;
}
.container{
  backdrop-filter: blur(4px);
}
.tribeImageGallery{
  margin-bottom: 20px;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: #212121;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: #212121;
}
.tribeStateView{
  margin-top: 10px;
}
.css-e53awj-MuiStack-root{
  margin-top: 20px;
  height: 50px;
}
.svg {
  color: #212121;
  position: relative;
  margin-top: -5%;
  width: 63%;
  margin-left: 15%;
}
.tribeMainView{
  object-fit: fill;
}
.mainHeader{
  font-size: large;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.allStatesHeader{
  font-size: 15px;
}
.stateHeader{
  display: flex;
  justify-content: center;
}
